<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head', { title: locals.title, styles: locals.styles, scripts: locals.scripts }) %>

<body>

  <%- include('../partials/_header') %>

  <main>
    <div class="chip">
      <div class="chip-header">
        <h2>🎭 Playwright Reports</h2>
      </div>
      <div class="chip-body chip-body-no-insets">
        <% if (reports && reports.length) { %>
        <div class="test-wrapper">
          <% reports.forEach(report => { %>
          <div class="test-file-test">
            <a href="/reports/<%= report.path %>/">
              Playwright Report <span class="report-date" data-date-in-ms="<%= report.date %>"><%= new Date(report.date).toLocaleString() %></span>
            </a>
            <div class="label-container">
              <% Object.keys(report).forEach(key => { %>
              <% if (report[key] && key !== 'path' && key !== 'date') { %>
              <span class="label <%= key.toLowerCase() %> <%= report[key].toLowerCase() %>"><%= key %>: <%= report[key] %></span>
              <% } %>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
        <% } else { %>
        <p>No reports found.</p>
        <% } %>
      </div>
    </div>
  </main>
</body>

<script>
  document.getElementById('logout').addEventListener('click', logOutUser);
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  async function logOutUser() {
    const response = await fetch('/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        _csrf: csrfToken,
      }),
    });

    if (response.redirected) {
      window.location.href = response.url;
    }
  }
</script>

</html>