<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head', { title: locals.title, styles: locals.styles, scripts: locals.scripts }) %>

<body>

  <%- include('../partials/_header') %>

  <main>
    <div class="chip">
      <div class="filters">
        <div class="filter-group">
          <label for="envFilter">Environment</label>
          <select name="envFilter" id="envFilter">
            <option value="all">All</option>
            <% environments.forEach(env => { %>
            <option value="<%= env %>"><%= env %></option>
            <% }) %>
          </select>
        </div>
        <div class="filter-group">
          <label for="statusFilter">Status</label>
          <select name="statusFilter" id="statusFilter">
            <option value="all">All</option>
            <% statuses.forEach(status => { %>
            <option value="<%= status %>"><%= status %></option>
            <% }) %>
          </select>
        </div>
        <div class="filter-group">
          <label for="workflowFilter">Workflow</label>
          <select name="workflowFilter" id="workflowFilter">
            <option value="all">All</option>
            <% workflows.forEach(workflow => { %>
            <option value="<%= workflow %>"><%= workflow %></option>
            <% }) %>
          </select>
        </div>
        <div class="filter-group">
          <label for="startDateFilter">Start Date</label>
          <input type="datetime-local" name="startDateFilter" id="startDateFilter">
        </div>
        <div class="filter-group">
          <label for="endDateFilter">End Date</label>
          <input type="datetime-local" name="endDateFilter" id="endDateFilter">
        </div>
        <div class="clear-filters-container">
          <button id="clearFiltersButton" type="button">Clear Filters</button>
        </div>
      </div>
      <div class="chip-header">
        <h2>🎭 Playwright Reports</h2>
      </div>
      <div class="chip-body chip-body-no-insets">
        <% if (reports && reports.length) { %>
        <div class="test-wrapper">
          <% reports.forEach(report => { %>
          <div class="test-file-test" data-environment="<%= report.environment %>" data-status="<%= report.status %>" data-workflow="<%= report.workflow %>" data-date="<%= report.date %>">
            <a href="/reports/<%= report.path %>/">
              Playwright Report <span class="report-date" data-date-in-ms="<%= report.date %>"><%= new Date(report.date).toLocaleString() %></span>
            </a>
            <div class="label-container">
              <% Object.keys(report).forEach(key => { %>
              <% if (report[key] && key !== 'path' && key !== 'date') { %>
              <span class="label <%= key.toLowerCase() %> <%= report[key].toLowerCase() %>"><%= key %>: <%= report[key] %></span>
              <% } %>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
        <% } else { %>
        <p>No reports found.</p>
        <% } %>
      </div>
    </div>
  </main>
</body>

</html>