<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head', { title: locals.title, styles: locals.styles, scripts: locals.scripts }) %>

<body>
  <main>
    <div>
      <h1>Onspring QA Reports</h1>
    </div>
    <div class="form-container">
      <form method="post">
        <section class="form-group">
          <label for="email">Email</label>
          <input value="<%= locals.formData?.email ?? '' %>" id="email" name="email" type="text" autocomplete="email" required autofocus>
        </section>
        <section class="form-group">
          <label for="password">Password</label>
          <input value="<%= locals.formData?.password ?? '' %>" id="password" name="password" type="password" autocomplete="password" required>
        </section>
        <section>
          <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
        </section>
        <% if (locals.errors && errors.length) { %>
        <% errors.forEach(error => { %>
        <p class="error"><%= error %></p>
        <% }) %>
        <% } %>
        <button class="login-button" type="submit">Login</button>
      </form>
    </div>
  </main>
</body>

</html>