<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head', { title: locals.title, styles: locals.styles, scripts: locals.scripts }) %>

<body>

  <%- include('../partials/_header') %>

  <main>
    <div>
      <h2>Register User</h2>
    </div>
    <div class="form-container">
      <form action="/register" method="post">
        <section class="form-group">
          <label for="email">Email:</label>
          <input value="<%= locals.formData?.email %>" type="email" name="email" id="email" required>
        </section>
        <section>
          <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
        </section>
        <% if (locals.errors && errors.length) { %>
        <% errors.forEach(error => { %>
        <p class="error"><%= error %></p>
        <% }) %>
        <% } %>
        <% if (locals.success) { %>
        <p class="success">User successfully registered!</p>
        <% } %>
        <button type="submit" class="register-button">Register</button>
      </form>
    </div>
  </main>
</body>

</html>