<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head', { title: locals.title, styles: locals.styles, scripts: locals.scripts }) %>

<body>

  <%- include('../partials/_header') %>

  <main>
    <div>
      <h2>Set Password</h2>
    </div>
    <div class="form-container">
      <form method="post">
        <section class="form-group">
          <label for="email">Email:</label>
          <input value="<%= locals.formData?.email ?? '' %>" type="email" name="email" id="email" required readonly>
        </section>
        <section class="form-group">
          <label for="password">Password:</label>
          <input value="<%= locals.formData?.password ?? '' %>" type="password" name="password" id="password" autofocus required>
        </section>
        <section class="form-group">
          <label for="verifyPassword">Verify Password:</label>
          <input value="<%= locals.formData?.verifyPassword ?? '' %>" type="password" name="verifyPassword" id="verifyPassword" required>
        </section>
        <section>
          <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
        </section>
        <% if (locals.errors && errors.length) { %>
        <% errors.forEach(error => { %>
        <p class="error"><%= error %></p>
        <% }) %>
        <% } %>
        <button type="submit" class="set-password-button">Set Password</button>
      </form>
    </div>
  </main>
</body>

</html>